{% extends "layout.html" %}

{% block content %}
    <!-- Contact Section -->
    <section id="contact" class="py-5" style="background: var(--primary-color)">
      <div class="container py-5 text-white">
        <h2 class="text-center mb-5">
          Get In <span style="color: var(--secondary-color)">Touch</span>
        </h2>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form>
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control form-control-lg"
                  placeholder="Name"
                  style="border-radius: 30px"
                />
              </div>
              <div class="mb-4">
                <input
                  type="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  style="border-radius: 30px"
                />
              </div>
              <div class="mb-4">
                <textarea
                  class="form-control form-control-lg"
                  rows="5"
                  placeholder="Message"
                  style="border-radius: 20px"
                ></textarea>
              </div>
              <div class="d-grid">
                <button
                  class="btn btn-outline-light btn-lg"
                  type="submit"
                  style="border-radius: 30px"
                >
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock content %}